#protein {
  display: none;
}
#veg-etc {
  display: none;
}
.jumbotron {
  margin: 20px;
  background-image: url("img/pizza_pic.png");
  background-blend-mode:hard-light;
  /* background-color: #90EE90; */
}
h2 {
  font-weight: bold;
}

button {
  background-color: #90EE90;
}
